<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>User Login</h2>

<form th:action="@{/login}" method="post">

    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

<p th:if="${param.error}" style="color:red;">
    Invalid username or password
</p>

<p th:if="${param.logout}" style="color:green;">
    You have been logged out
</p>

<br>
<a href="/register">Create New Account</a>

</body>
</html>
